.crowd-test-root {
  --theme: #3b82f6;
  --theme2: #ef4444;
}

.crowd-test-dashboard {
  --foreground: oklch(98.5% 0 0deg);
  --theme: #1491ff;
  --theme2: #09f6ff;

  color: var(--foreground);

  @theme inline {
    --color-crowd-test-dashboard-background: #060d1b;
    --color-report-pending: #f90;
    --color-report-approved: #0c0;
    --color-report-rejected: #f00;
    --color-report-archived: #999;
    --spacing-dash-card: calc(var(--spacing) * 6);
  }
}
