.crowd-test-root {
  --theme: #3b82f6;
  --theme2: #ef4444;
}

.crowd-test-dashboard {
  --foreground: white;
  --theme: #1491ff;
  --theme2: #09f6ff;

  color: var(--foreground);

  @theme inline {
    --color-crowd-test-dashboard-background: #060d1b;
  }
}
